body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.container-fluid {
  padding: 3% 15% 7%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: 900;
}
#title {
  background-color: #ff4c68;
  position: relative;
  z-index: -1;
}

.iph-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
/* Navbar */
.navbar {
  padding: 0 0 4.5rem 0;
}
.nav-item {
  padding: 0 1rem 0 1rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
/* Download Buttons */
.cus-btn {
  margin: 5% 3% 5% 0;
}
/* Features */
.fea {
  text-align: center;
}
.fea-dis {
  padding: 0 5%;
}

.fas {
  color: #ef8172;
  padding-bottom: 1.875rem;
}
.fas:hover {
  color: #ff4c68;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}
#features {
  padding: 15% 10%;
  background-color: #fff;
  z-index: 1;
}

p {
  color: #8f8f8f;
}

/* Testimonial */
.pet-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 10% 10%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.85rem;
  line-height: 4rem;
}

/* Press */

#press {
  text-align: center;
  background-color: #ef8172;
}
.prs-brd {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}
.prc-crd {
  padding: 3% 2%;
}
